@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik Mono One', sans-serif;
  background-color: rgb(27, 120, 208);
  color: white;
}
  




.new-item-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  max-width: 400px;

}

.form-row {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.Todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper {
  border: 6px solid rgb(236, 236, 236);
  border-radius: 40px;
  max-width: 400px;
  width: 100%;
  background-color: rebeccapurple;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}

@media only screen and (max-width: 480px) {
  .wrapper {
    max-width: 300px;
  }
}



.deleteBttn {
  margin-left: 5px;
  background-color: rgb(107, 172, 229);
  border-radius: 10px;
  border: none; /* Remove border */
  font-family: 'Rubik Mono One', sans-serif;
  color: rgb(253, 253, 253);
}

.btn {
  margin-top: 10px;
  background-color: rgb(107, 172, 229);
  border-radius: 10px;
  border: none; /* Remove border */
  font-family: 'Rubik Mono One', sans-serif;
  color: rgb(253, 253, 253);
}

.btn:hover {
  background-color: rgb(27, 120, 208);
  color: rgb(253, 253, 253);
  box-shadow: 0 0 5px rgba(0, 0, 0, 2);
}

.deleteBttn:hover {
  background-color: rgb(27, 120, 208);
  color: rgb(253, 253, 253);
  box-shadow: 0 0 5px rgba(0, 0, 0, 2);
}